.contact-us {
  width: 500px;
  margin: 0 auto;
  padding: 10px;
  border: 1px solid #ccc;
}

.contact-us form {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.contact-us form label {
  margin-bottom: 5px;
}

.contact-us form input,
.contact-us form textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
}

.contact-us form input[type="submit"] {
  background-color: #000;
  color: #fff;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}